*background:                 #1d1f21

Xft*hinting:                true
Xft*hintstyle:              2
Xft*antialias:              true
Xft*rgba:                   rgb
URxvt*termName:             xterm-256color
URxvt*externalBorder:       20px
URxvt*internalBorder:       0px
URxvt*lineSpace:            5
URxvt*letterSpace:          -1
!URxvt*font:                 xft:SauceCodePro\ Nerd\ Font Mono:pixelsize=14
URxvt*font:                 xft:UbuntuMono Nerd Font Mono:pixelsize=14
!URxvt*font:                 xft:Source\ Code\ Pro\ for\ Powerline:pixelsize=14
URxvt*scrollBar:            false
URxvt*scrollBar_right:      false
URxvt*scrollBar_left:       false
URxvt*transparent:          false
URxvt.urlLauncher:          /usr/bin/google-chrome
URxvt.matcher.button:       1
URxvt.perl-ext-common:      default,matcher,tabbedex,clipboard
URxvt.tabbed.tabbar-bg:     0
URxvt.tabbed.tab-fg:        3
URxvt.tabbed.tab-bg:        2
URxvt.cursorBlink:          1
!URxvt.keysym.Shift-Control-C:      perl:clipboard:copy
!URxvt.keysym.Shift-Control-V:       perl:clipboard:paste
URxvt.keysym.Shift-Control-V: eval:paste_clipboard
URxvt.keysym.Shift-Control-C: eval:selection_to_clipboard
URxvt.iso14755: false
