* {
  all: unset; //Unsets everything so you can style everything from scratch
  font-family: "Arimo Nerd Font";
}

$background: #282a36;
$comment: #6272a4;
$cyan: #8be9fd;
$current-line: #44475a;
$foreground: #f8f8f2;
$white: #ffffff;
$black: #000000;

.bar {
  background: rgba(0, 0, 0, 0.5);
  border-bottom: 1px solid rgba(255, 255, 255, 0.15);
  color: $white;
}

.bar-container {
  padding: 10px 15px;
  font-size: 18px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
}

.datetime {
  font-size: 15px;
}

.ws-icon {
	background-size: 40px;
	min-height: 40px;
	min-width: 40px;
  background-repeat: no-repeat;
	/* margin: 8px 8px 0px 8px; */
}

.workspaces {
}

.barwidget {
  /* background: red; */
}

