* {
  all: unset; //Unsets everything so you can style everything from scratch
  font-family: "Arimo";
}

//Global Styles
.bar {
  // color: #b0b4bc;
  // margin: 10px;
  // padding: 10px;
  // border-radius: 16px;
}

.barwidget {
  background-color: #17181e;
  //background-color: #000;
  border-radius: 0 0 15px 15px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
  font-size: 23px;
  font-weight: bold;
  margin: 0px 10px 10px 20px;
  padding: 0px 20px;
  border-bottom: 4px solid #44475a;
  border-right: 4px solid #44475a;
}

.spotify {
  font-size: 30px;
}

.workspaces {
  font-size: 40px;
}
